body{
    background-color: rgb(134, 130, 130);
}

.img1{
    width: 45%; 
    height: 60%;
}
.cabeçalho{
    background-color: blue;
    color: red;
    display: flex; 
    justify-content: space-around;
} 
.cabeçalho-lista-item{
    display: inline-block;
}
